.top-left {
  position: absolute;
  transform: translateX(-110%) translateY(-110%);
}

.top-right {
  position: absolute;
  transform: translateX(10%) translateY(-110%);
}

.bottom-left {
  position: absolute;
  transform: translateX(-110%) translateY(10%);
}

.bottom-right {
  position: absolute;
  transform: translateX(10%) translateY(10%);
}

#loading-container {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .75;
  position: absolute;
  transition: all 200ms;
  z-index: 3;
}

#loading-message {
  position: relative;
  width: 75%;
  height: 75%;
  background-color: #eeeeee;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 4;
  text-align: center;
}

.message-info {
  padding: 0px 150px;
}

#closeButton {
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
  margin-top: 50px;
  width: 75%;
  height: 75%;
  background-color: #222222;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#message-box {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
