<html>
	<head>
		<title>Hall of Fame - WAR Graphic</title>
		<style>
			body { margin: 0; }
			canvas { width: 100%; height: 100% }
		</style>
		<link rel="stylesheet" type="text/css" href="static/sample_three.css">
		<script src="static/three.js"></script>
		<script data-main="static/js/app.js" src="static/require.js"></script>
	</head>
	<body>
		<script type="x-shader/x-vertex" id="vertexshader">
			attribute float size;
			attribute vec3 customColor;
			varying vec3 vColor;
			void main() {
				vColor = customColor;
				vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
				gl_PointSize = size * ( 300.0 / -mvPosition.z );
				gl_Position = projectionMatrix * mvPosition;
			}
		</script>
		<script type="x-shader/x-fragment" id="fragmentshader">
			uniform vec3 color;
			uniform sampler2D texture;
			varying vec3 vColor;
			void main() {
				gl_FragColor = vec4( color * vColor, 1.0 );
				gl_FragColor = gl_FragColor * texture2D( texture, gl_PointCoord );
				if ( gl_FragColor.a < ALPHATEST ) discard;
			}
		</script>
		<script type="x-shader/x-vertex" id="line-vertexshader">
			attribute vec3 color;
			varying vec3 cColor;
			void main()
			{
				cColor = color;
				vec4 modelViewPosition = modelViewMatrix * vec4(position, 1.0);
				gl_Position = projectionMatrix * modelViewPosition;
			}
		</script>
		<script type="x-shader/x-fragment" id="line-fragmentshader">
			uniform vec3 colorFallback;
			uniform float curveLength;
			uniform float opacity;
			uniform vec3 origin;
			varying vec3 cColor;
			void main() {
				gl_FragColor = vec4(cColor, opacity);
			}
		</script>
		<script src='static/survey_results.json'></script>
	</body>
</html>
